.card{
    border:2px solid #000;
    border-radius: 10px;
    padding: 0px;
    width: 400px;
    margin: auto 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}
.logo{
    width: 70px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}
.aadhar-logo{
    width:90px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}
.govt-title{
    margin-top: 100px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width:100%;
    background-color: orangered;
    color: white;
    padding: 5px 0px;
    display: block;
    
}
.Unique{
    margin-top: 45px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width:100%;
    background-color: green;
    color: white;
    padding: 5px 0px;
    display: block;
 
}
.Enrolment{
    text-align: center;
    margin-top: 0px;
}
.address-block{
    
    padding: 10px;
    margin: 20px;
    background-color: #f9f9f9;
}
.address-block p{
    margin: 5px 0;
    font-family: arial, sans-serif;
    font-size: 14px;
}
img{
    width: 140px;
    height: auto;
}
.qr-code{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
/* .Signature img{
    width: 140px;
    height: 70px;
    margin-right: 250px;
    display: block;
    
} */
.aadhar-no{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}
.aadhar-no h1{
    margin: 5px 0;
    font-size: 25px;
}
.vid{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
.below-vid{
    background-color: red;
    margin-top: 3px;
    
}
.above-vid{
    width: 60%;
    margin: 0 auto;
    border: 1px solid #000;
    margin-bottom: 5px;
}
.bottom-logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.logo-bottom{
    width: 50px;
    height: 50px;
}
.aadhar-logo-bottom{
    width: 40px;
    height: 50px;
}
.middle-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: green;
    color: white;
}
.card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.left-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.woman-image{
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-top: -120px;
}
.right-section{
    flex: 2;
    text-align: left;
}
.personal-details{
    margin-bottom: 20px;
    margin: 5px 0;
    font-family: arial, sans-serif;
    font-size: 14px;
}
.additional-info{
    margin-top: 10px;
    margin: 5px 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid red;

}
.additional-info p{
    margin-bottom: 10px;
}
.end{
    border: none;
    border-top: 1px solid red;
    width: 100%;
   
}